#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/{
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";

                        bindings = <
   &kp C_PP                 &kp C_NEXT        &mo 1       
   &mkp LCLK                &mmv MOVE_UP      &mkp RCLK        
   &mmv MOVE_LEFT           &mmv MOVE_DOWN    &mmv MOVE_RIGHT   
                   >;
                };

                function_layer {
                        display-name = "Function Layer";

                        bindings = <
   &trans          &trans          &trans       
   &bootloader     &bt BT_CLR      &trans        
   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
                    >;
                };

                mouse_layer {
                        display-name = "Mouse Layer";

                        bindings = <
   &trans   &trans  &trans      
   &mkp LCLK                &mmv MOVE_UP      &mkp RCLK        
   &mmv MOVE_LEFT           &mmv MOVE_DOWN    &mmv MOVE_RIGHT  
                    >;
                };
        };

};